/* HTML 5 CSS RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,  strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 vertical-align: baseline;
}

body {
 line-height: 1;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

section, article, aside, header, footer, nav, dialog, figure {
 display:block;
}

/* SpicyCode.com */

body {
	font-size: 16px;
	line-height: 1.5;  
	margin: 0 5px;
	font-family: 'lucida grande', helvetica, sans-serif;
	color: #212122;
	background: #33332c;
}

#container {
	max-width: 620px;
	margin: 0 auto;
	padding-bottom: 160px;
}

header a:hover {
  background: transparent;
}

a {
	color: #d84400;
}

p {
	margin: .75em 0;
}

pre {
  color:#666;
	background-color:#f9f9f9;
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #ddd;
	overflow: auto;
}
pre code {
  display: block;
}

code {
  font-family: Inconsolata, Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 22px;
  color: #666;
	background-color:#f9f9f9;
}

h1 {
	font-size: 160%;
	line-height:1.43em;      
	margin: .5em 0;
}

h2 {
	font-size: 140%;
	line-height:1.1;
	margin: 1em 0 .5em 0;
}

h3, h4 {
  font-size: 120%;
	font-weight:bold;
	line-height:1.1;
	margin: 0;
}

blockquote {
  font-size: 90%;
	line-height: 1.88;
  margin: .25em 1.5em;
	padding: 0;
  color:#444444;
  font-style: italic;
}

p.meta {
  font-variant: small-caps;
  color:#555555;
  margin-top: -1em;
}

header {
  text-align: center;
}

img.awesome-image {
  display: block;
  margin: 0 auto;
}
/* nav
==================================*/
nav {
  text-align: left;
  width: 620px;
  margin: 30px auto;
}
nav a {
  color: #cdcc9a;
  text-decoration: none;
  opacity: .3;
  background: #24241f;
  display: inline-block;
  padding: 15px 40px 15px 65px;
  border-radius: 100px;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
  -webkit-transition: all .2s ease-in;
}
nav a.blog {
  background: #24241f url(../images/icons/blog-book.png) 20px 10px no-repeat;
}
nav a.open-source {
  background: #24241f url(../images/icons/open-source.png) 20px 10px no-repeat;
}
nav a:hover {
  opacity: 1;
  color: #cdcc9a;
}

nav a.active {
  opacity: 1;
  color: #cdcc9a;
}
nav a.active:before {
  content: " ";
	background: url(../images/nav-glow.png);
	display: block;
	width: 167px;
	height: 54px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -83px;
	margin-bottom: -53px;
	z-index: 1;
}

#home ul.posts,
#open-source ul.posts,
#related-posts ul {
  width: 620px;
}
#home ul.posts li,
#open-source ul.posts li,
#related-posts ul li {
  font-size: 13px;
  list-style-type: none;
  margin: 5px 0;
  border-top: 1px dotted #62614d;
}
#home ul.posts li a,
#open-source ul.posts li a,
#related-posts ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 60px;
  background: #24241f url(../images/icons/post-title-bullet.png) 15px 11px no-repeat;
  border-bottom: 1px dotted #62614d;
  -webkit-transition: background-color .15s ease-in;
}
#home ul.posts li a:hover,
#open-source ul.posts li a:hover,
#related-posts ul li a:hover {
  background-color: #2b2b25;
}

footer {
  height: 151px;
  position: fixed;
  bottom: 0;
  background: transparent url(../images/bg/bottom-fade.png) bottom left repeat-x;
  width: 100%;
}

#chad {
  width: 198px;
  height: 131px;
  background: transparent url(../images/bg/chad.png) 0 0 no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -275px;
}
footer .contact {
  width: 320px;
  margin: 0 auto;
  padding-left: 190px;
  
}
footer p {
  color: #cdcc9a;
  font-size: 12px;
  bottom: 0;
  position: absolute;
}
.contact #links {
  margin-bottom: 45px;
}
.contact #links a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.contact #links a.rss {
  width: 44px;
  height: 41px;
  background: transparent url(../images/icons/rss.png) 0 0 no-repeat;
  text-indent: -999px;
  overflow: hidden;
  opacity: .5;
  -webkit-transition: opacity .4s ease-in;
}

.contact #links a.twitter {
  width: 130px;
  height: 50px;
  background: #24241f url(../images/icons/twitter.png) 14px 13px no-repeat;
  text-indent: -999px;
  overflow: hidden;
  opacity: .5;
  -webkit-transition: opacity .4s ease-in;
  border-radius: 100px;
}

.contact #links a.github {
  width: 130px;
  height: 50px;
  background: #24241f url(../images/icons/github.png) 30px 10px no-repeat;
  text-indent: -999px;
  overflow: hidden;
  opacity: .5;
  -webkit-transition: opacity .2s ease-in;
  border-radius: 100px;
}
.contact #links a.rss:hover,
.contact #links a.twitter:hover,
.contact #links a.github:hover {
  opacity: 1;
}
#tweet ul li:before {
  content:" ";
  	display:block;
  	width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 0px solid transparent;
    border-top: 100px solid #24241f;
  	position:absolute;
  	bottom:0;
  	left: 290px;
  	margin-bottom:-60px;
  	z-index:-1;
}
#tweet ul li {
  list-style-type: none;
  color: #686750;
  font-size: 30px;
  text-align: center;
  padding: 40px 20px;
  background: #24241f;
  border-radius: 20px;
  margin: 20px 0;
  position: relative;
}
#tweet ul li span {
  font-size: 12px;
  display: block;
}

#single-post {
  background: #fff8e1;
  border: 10px solid #cdcc9a;
  -webkit-box-shadow: inset 0 0 1px 1px #999;
  padding: 20px;
}
#single-post p {
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 28px;
}
#single-post h1 {
  font-size: 30px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
#single-post ol,
#single-post ul {
  margin: 15px 0 15px 50px;
}
#single-post ol li,
#single-post ul li {
  margin: 5px 0;
  font-size: 16px;
  line-height: 28px;
  font-family: georgia, serif;
}
#single-post p.meta {
  font-size: 14px;
}

#related-posts {
  margin: 25px 0;
}

#related-posts h4 {
 color: #cdcc9a;
 font-size: 24px;
 font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
