<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{% if page.title %}{{ page.title }} &raquo; {% endif %}SpicyCode</title>
  <meta charset="utf-8" />
  <meta name="author" content="Chad Humphries" />
  <link href="http://feeds2.feedburner.com/spicycode" rel="alternate" title="SpicyCode - The ramblings of Chad Humphries" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
</head>
<body id="blog">
  <header>
    <hgroup>
      <a href="/" title="SpicyCode"><img src="/images/logo.jpg" border="0" alt="SpicyCode" /></a>
    </hgroup>
  </header>
  <div id="container">
    {{ content }}
    <footer>
      <div class="contact">
        <p>
          Chad Humphries<br />
          I do that thing I do at <a href="http://thinkrelevance.com/">Relevance</a>
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/spicycode">github.com/spicycode</a><br />
          <a href="http://twitter.com/spicycode">twitter.com/spicycode</a><br />
          <a href="http://feeds2.feedburner.com/spicycode">
            <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
          </a>
        </p>
      </div>
    </footer>
  </div>
</body>
</html>
